@mixin filter($value) {
  -webkit-filter: $value;
  -moz-filter: $value;
  -o-filter: $value;
  filter: $value;
}

@mixin grayscale($value) {
  -webkit-filter: grayscale($value);
  -moz-filter: grayscale($value);
  -o-filter: grayscale($value);
  -ms-filter: grayscale($value);
  filter: grayscale($value);
}

@mixin brightness($value) {
  -webkit-filter: brightness($value);
  -moz-filter: brightness($value);
  -o-filter: brightness($value);
  -ms-filter: brightness($value);
  filter: brightness($value);
}

@mixin blur($value) {
  -webkit-filter: blur($value);
  -moz-filter: blur($value);
  -o-filter: blur($value);
  -ms-filter: blur($value);
  filter: blur($value);
}
